<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116772309492-oqh7i41jmgi1943ul9h3cik7hliulqei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116772309492-oqh7i41jmgi1943ul9h3cik7hliulqei</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJl8zui-fhIdKEFfU-IfO02P2Q4CSV4s</string>
	<key>GCM_SENDER_ID</key>
	<string>116772309492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neonOverflow.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>neonoverflow-8091c</string>
	<key>STORAGE_BUCKET</key>
	<string>neonoverflow-8091c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116772309492:ios:9179e884d3f1e2c47691a1</string>
</dict>
</plist>